# Ignore virtual environment directories
.venv/
venv/

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/Editor files
.vscode/
.idea/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore environment files
.env
